@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --border-color: #e9eef2;
    --bg-clr: #f4f8fa;
}
.light-border {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
.txt {
    color: #1b31a8;
}
.wrapper {
    background-color: var(--bg-clr);
    font-size: 1rem;
}
.detail {
    background: #f4f8fa;
}
.monthly-color {
    color: #0079ff;
}
@media (min-width: 768px) {
    .wrapper {
        padding: 120px auto 20px auto;
    }
}
.loan-input {
    color: #4d6475;
}
.btn-now {
    display: block;
    width: 320px;
    height: 56px;
    background: #1b31a8;
    border: transparent;
    border-radius: 32px;
    padding: 10px 20px;
    margin: 20px auto;
    align-self: center;
    font-size: 1rem;
    color: #e9eef2;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    padding-right: 50px;
}

.input-container .dollar-icon {
    position: absolute;
    top: 50%;
    left: 2px;
    padding-right: 20px;
    transform: translateY(-50%);
    fill: #cbd5dc;
    width: 40px;
}
